*{
	margin: 0;
	padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html{width: 100%;height: 100%;overflow-x: hidden;}
body{
	background: #ededed;
	color: #5e5e5e;
	margin: 0 auto;
	font-size:14px;
  line-height:20px;
	width:100%;
  overflow-x: hidden;
  left: 0;
}
a {
	font-size: 100%;
	border: 0;
	color: #5e5e5e;
	text-decoration: none;
	cursor:pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;font-size: 100%;
}
ol,ul{
	list-style: none;
}
img{max-width:100%;border: 0;vertical-align: top;}
.ellipsis{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
/* 多行省略 */
.ellipsis-2l {
overflow : hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;    /* 数值代表显示几行 */
-webkit-box-orient: vertical;
}
.fl{float: left;}
.fr{float: right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
.wrap{width: 1110px;margin: 0 auto;}
.title{height: 28px;line-height: 28px;font-size: 28px;margin: 5px 0 20px;}
